#navbarNav .nav-link{color: map-get($estilosBase, colorPri);
  &:hover{background-color: map-get($estilosBase, colorSec); transform: map-get($estilosBase, animacion);
    color: map-get($estilosBase, colorTer);}}