    .main-flex {display: flex;
        justify-content: space-between;
        margin: 1rem;
        align-items: center;
         .contenedor-izquierda {display: flex;
          flex-direction: column;
         width: 50%;
         align-items: center;
            .titulo_h1{font-size: 5rem;
             font-weight: bold;
            color: map-get($estilosBase, colorPri);}
            .subtitulo{font-size: 1.5rem;
             font-style: italic;
            color: map-get($estilosBase, colorPri);}
            .div_btn a{display: inline-block;
            text-decoration: none;
            margin: 2rem;
            color: map-get($estilosBase, colorTer);
            background-color: map-get($estilosBase, colorPri);
            padding: 1rem;
            border-radius: 50px;
            &:hover{background-color: map-get($estilosBase, colorSec); transform: scale(110%);}}}
        
            .contenedor-derecha {display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            & img {width: 400px;
            height: 400px;
            border-radius: 250px;}}}


    .section_oferta_centrado{display: flex;
    justify-content: center;
    margin-top: 4rem;
    background-color: map-get($estilosBase, colorPri);
    align-items: center;
        .section_btn{display: inline-block;
        text-decoration: none;
        margin: 1rem;
        color: map-get($estilosBase, colorPri);
        background-color: map-get($estilosBase, colorTer);
        padding: 1rem;
        border-radius: 50px;
        height: 50px;
            &:hover{background-color: map-get($estilosBase, colorSec); transform: scale(110%);
            color: map-get($estilosBase, colorTer);}}
        .section_oferta{display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        align-items: center;
         width: 80%;
            .oferta_card {display: flex;
            flex-direction: column;
            width: 25%;
            min-width: 250px;
            align-items: center;
            position: relative;
            margin-top: 1rem;
            border: 1px #4682B4 solid;
            border-radius: 10px;
                &_h2{font-size: 1.5rem;
                font-weight: bold;
                color: map-get($estilosBase, colorTer);}
                &_p{font-size: 1rem;
                font-style: italic;
                color: map-get($estilosBase, colorPri);
                position: absolute;
                top: 0;
                right: 25px;}
                & a{display: inline-block;
                text-decoration: none;
                margin: 0.5rem;
                color: map-get($estilosBase, colorPri);
                background-color: map-get($estilosBase, colorTer);
                padding: 1rem;
                border-radius: 50px; 
                    &:hover{color: map-get($estilosBase, colorTer);
                        background-color: map-get($estilosBase, colorSec); transform: map-get($estilosBase, animacion);}}
                & img {width: 217px;
                height: 217px;
                /* height: 250px; */
                border-radius: 25px;}}}}