@media (max-width: 1200px){
    .section_oferta_centrado .section_btn{display: none;}
}   
@media (max-width: 844px){
    .main-flex .contenedor-derecha{display: none;}
    .main-flex .contenedor-izquierda{width: 100%;}
    .shop .shop_items {grid-template-columns: 1fr 1fr;
             justify-items: center;}

}



@media (max-width: 1024px){ 
    .section_oferta_centrado{display: none;}
    .shop .shop_aside{display: none;}
    .shop{grid-template-columns: 100%;}
    .shop_items {justify-items: center;}
}

@media (max-width: 425px) {
.main-flex .contenedor-izquierda .div_btn a{margin: 10px;}
.main-flex .contenedor-izquierda .titulo_h1{font-size:3rem}
.main-flex .contenedor-izquierda .subtitulo{font-size:1rem}
.shop .shop_items {grid-template-columns: 1fr;
    justify-items: center;}


}
