.shop{display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 1rem;
    margin: 1rem;

    .shop_aside{display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
        &_h2{font-size: 3rem;
        font-weight: bold;
        color: map-get($estilosBase, colorPri);
        margin-bottom: 1rem;}
        &_link{display: inline-block;
        text-decoration: none;
        margin:  1rem 0;
        color: map-get($estilosBase, colorPri);}
        &_link:hover{color: map-get($estilosBase, colorSec);}}
        & .subtitulo{color: map-get($estilosBase, colorPri);}

    .shop_items{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
    align-items: center;
    .oferta_card{display: flex;
        flex-direction: column;
        min-width: 250px;
        align-items: center;
        border: 1px solid map-get($estilosBase, colorPri);
        border-radius: 10px;
        padding: 0.5rem;

         .shop_items_h2 {color: map-get($estilosBase, colorPri);}
         .shop_items_link{background-color: map-get($estilosBase, colorPri);
                         color: map-get($estilosBase, colorTer);
                         padding: 1rem;
                         border-radius: 50px;

                         &:hover{background-color: map-get($estilosBase, colorSec); transform: map-get($estilosBase, animacion);}}}}}